In [22]:
#Task 1

#Way1
even_num = []
for i in range(0,11):
    if i%2 == 0:
        even_num.append(i)
print(f"The even numbers are :", even_num)

#way2
for i in range(0,11,2):
    print(i)

The even numbers are : [0, 2, 4, 6, 8, 10]
0
2
4
6
8
10

In [21]:
#Task2
#way1
for i in range(1,12,2):
    print(i)

#way2
odd_num = []
for i in range(0,12):
    if i%2 != 0:
        odd_num.append(i)
print(f"The odd numbers are :", odd_num)

1
3
5
7
9
11
The odd numbers are : [1, 3, 5, 7, 9, 11]

In [24]:
#Task3
#Way1
for i in range(198,329,2):
    print(i)

#Way2
even_num = []
for i in range(198,329):
    if i%2 == 0:
        even_num.append(i)
print(f"The even numbers from 198 to 329 are :", even_num)

198
200
202
204
206
208
210
212
214
216
218
220
222
224
226
228
230
232
234
236
238
240
242
244
246
248
250
252
254
256
258
260
262
264
266
268
270
272
274
276
278
280
282
284
286
288
290
292
294
296
298
300
302
304
306
308
310
312
314
316
318
320
322
324
326
328
The even numbers from 198 to 329 are : [198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328]

In [32]:
#Task3

for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [31]:
#Task4
for i in range(-10,11,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

In [1]:
#Task5
for i in range(0.1,1,0.1):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [36]:
#Task6

for i in range(10,-1,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [40]:
i = 10
while i>=0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1
0

In [43]:
#Task7

#Way1
for i in range(3,0,-1):
    print(i)
print("go")

#Way2
for i in range(3,-1,-1):
    if i !=0:
        print(i)
    else:
        print("go")

3
2
1
go
3
2
1
go

In [53]:
#Task8
sum = 0
for i in range(1,20):
    sum += i
print(f"The sum of 1-19 :{sum}")

The sum of 1-19 :190

In [56]:
#Task9
sum1 = 0
for i in range(100,1001):
    sum1 += i
print(sum1)

495550

In [59]:
#Task10
for i in range(1,7):
    print(i**2)
    # print(f"sqaure of {i} = {i**2}")

1
4
9
16
25
36

In [62]:
#Task11
j = 0
for i in range(1,11):
    for k in range(1,6):
        j += i*k
        

print(j)

825

In [66]:
#Task12
sqr = []
for i in range(1,7):
    sqr.append(i**2)
print(f"The list of squares are : {sqr}")

The list of squares are : [1, 4, 9, 16, 25, 36]

In [73]:
#Task13

cubes_lst = []
for i in range(3,11):
    cubes_lst.append(i**3)

print(cubes_lst)

[27, 64, 125, 343, 512, 729, 1000]

In [83]:
#Task14

#way1
cube_dict = {}
for i in range(3,11):
    value = i**3
    cube_dict[i]=value
print(cube_dict)

{3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [17]:
#Task15
#way1
list = [2,3,6,8,11,13]

for i in range(len(list)):
    list[i] = list[i]**2

print(list)

[4, 9, 36, 64, 121, 169]

In [18]:
#Task 16
list = [1,3,4,8,90]
for i in list:
    print(i**2)

1
9
16
64
8100

In [36]:
#Task17

list = [1,200,3,-222,4,8,500,90]
max = list[0]
min = list[0]
for i in list:
    if i > max:
        max = i
    if i < min:
        min = i
    
        


print(max)
print(min)

500
-222

In [43]:
list = [2,3,4,5,6,7,4,3,2,8,90]
odd = []
even =[]
for i in list:
    if i%2 == 0:
       even.append(i)
    else:
        odd.append(i)
print(even + odd)

[2, 4, 6, 4, 2, 8, 90, 3, 5, 7, 3]

In [1]:
lst  = [1,2,2,3,3,3,4,4,4,4,7,7]
lcky_no = lst[0]
for i in lst:
    if lst.count(i) > lst.count(lcky_no):
        lcky_no = i

print(lcky_no)

4

In [53]:
lst  = [1,2,2,3,3,3,4,4,4,4,7,7]
lucky = []
for i in lst:
    if lst.count(i) == i:
       lucky.append(i)

print(lucky)

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4]