***Programming for AI***

**Lecture 2**

*1.. print()*

In [52]:
print("Welcome to the CAI 2.0")

TypeError: 'str' object is not callable

*Equations*

$y = 2x +1$
 
$x = 3y -4 $

In [4]:
Name = "Asghar Hussain"
Dept = "Software Engineering"
print(f"My name is {Name} \nMy department is {Dept}")

My name is Asghar Hussain
My department is Software Engineering

In [7]:
print("My name is Asghar Hussain. \nMy hobby is Book reading.")

My name is Asghar Hussain.
My hobby is Book reading.

In [15]:
print("Ali")

Ali Hassan

*Variables*

In [16]:
name_of_instructor = "Abbas Abbasi"
name_of_student = "Asghar Hussain"
course  = "AI"
print(name_of_student)

Asghar Hussain

In [1]:
no_of_students = 62
print(no_of_students)

62

In [2]:
name = "Asghar Hussain"
cgpa = 3.71
print("My CGPA =", cgpa)

My CGPA = 3.71

In [3]:
fvt_movie = "Dangal"
current_age = 20
pi = 3.14
print(f"My favourite movie is : {fvt_movie}")
print(f"My current age is : {current_age}")
print(f"value of pi is : {pi}")

My favourite movie is : Dangal
My current age is : 20
value of pi is : 3.14

In [4]:
no_of_friends = 3
print(no_of_friends)

3

In [5]:
sci_notation = 4.2e-4
print(sci_notation)
type(sci_notation)

0.00042

float

In [6]:
age = 20
type(age)

int

*String*

In [7]:
course_name = "CAI 2.0"
print(course_name)
print(type(course_name))

CAI 2.0
<class 'str'>

In [8]:
name = "Asghar"
type(name)

str

**Multi_line String**

In [10]:
multi_line_string = """My name is Asghar Hussain.
Basically I belongs to GB a but now i am in Islamia University of Bahawalpur.
My goal is to become a good citizen of my nation and i want to contribute in the progress of my nation."""

print(multi_line_string)

My name is Asghar Hussain.
Basically I belongs to GB a but now i am in Islamia University of Bahawalpur.
My goal is to become a good citizen of my nation and i want to contribute in the progress of my nation.

In [12]:
multiline_without_tripleCode ="My name is : Asghar Hussain. \nI am Software Engineering Student."
print(multiline_without_tripleCode)

My name is : Asghar Hussain.
I am Software Engineering Student.

**Boolean**

In [13]:
a = True
type(a)

bool

In [14]:
print(True+True)

2

In [15]:
a = True+True+False
print(a)

2

In [19]:
a = True * False
print(a)
b = False * True
print(b)

0
0

In [26]:
temp_in_celcius = 40 
temp_in_farenhite = (temp_in_celcius*9/5)+32
print(f"The temperature {temp_in_celcius} celcius is in farenhite equals to : {temp_in_farenhite}")

The temperature 40 celcius is in farenhite equals to : 104.0

***f String***

In [28]:
program = "CAI 2.0"
print("The program is" , program)

The program is CAI 2.0

In [36]:
city_name = 'Skardu'
print("My city name is",city_name,"city.")
print(f'My city name is {city_name} city.')

My city name is Skardu city.
My city name is Skardu city.

In [37]:
his_name = "Sohail"
his_age = 34
print(f"His name is {his_name} and his age is {his_age+3}.")

His name is Sohail and his age is 37

In [41]:
student_name = "Haider"
total_marks = 90
percentage = 90
print(f"Student Name : {student_name}.\nStudent Marks : {total_marks}.\nPercentage : {90}%.")

Student Name : Haider.
Student Marks : 90.
Percentage : 90%.

*Memory Location*

In [42]:
name = "asghar"
id(name)

2776029962592

In [43]:
fsc_marks = 993
id(fsc_marks)

2776030391120

In [46]:
var = 10
print(var)
del var
#print(var)

10

In [50]:
radius = 4
circumference = 2*3.14*radius
area = 3.14*radius**2
print(f"The circumference of circle is : {circumference}. \nThe area of circle is : {area}.")

The circumference of circle is : 25.12.
The area of circle is : 50.24.

In [58]:
a = 2
b = 3
c = 4
x1 = (-b+b**2-4*a*c)**0.5/(2*a)
x2 = (-b-(b**2-4*a*c)**0.5)/(2*a)
print(a*x1**2+b*x2+c)

(-1.5-3.596873642484539j)