***Dictionaries***

In [2]:
my_dic = {
    "name" : "Asghar",
    "id " : 1234,
    "Dept" : "Software Engineering"
}

print(my_dic)

{'name': 'Asghar', 'id ': 1234, 'Dept': 'Software Engineering'}

In [3]:
dic_1 = {
    "name" : "Asghar",
    "age " : 21,
    "Dept" : "Software Engineering"
}

print(dic_1)

{'name': 'Asghar', 'age ': 21, 'Dept': 'Software Engineering'}

In [35]:
dic_2 = { 
  "name":"Asghar",
  "year" : 2023,
  "year" : 2024
}

print(dic_2.keys())
print(dic_2.values())

dic_2["year"] = "2025"
dic_2["semester"] = "3rd"

print(dic_2)

dict_keys(['name', 'year'])
dict_values(['Asghar', 2024])
{'name': 'Asghar', 'year': '2025', 'semester': '3rd'}

In [29]:
dic_3 = {
    "names" : ["asghar","ali","sohail"],
    "ages" :[23,24,23],
    "depts" : ["SE","AI","IT"]
}

print(dic_3)

print("-"*50)
print(f"the names of students are :{dic_3["names"]}")

print("-"*50)
print(dic_3.items())

print("-"*50)
print(dic_3.get("depts"))

print("-"*50)
print(dic_3["ages"])

print("-"*50)
dic_4 = dic_3.copy()


print(dic_4)

print("-"*50)
print(type(dic_4.keys()))

print("-"*50)
print(dic_4.values())

{'names': ['asghar', 'ali', 'sohail'], 'ages': [23, 24, 23], 'depts': ['SE', 'AI', 'IT']}
--------------------------------------------------
the names of students are :['asghar', 'ali', 'sohail']
--------------------------------------------------
dict_items([('names', ['asghar', 'ali', 'sohail']), ('ages', [23, 24, 23]), ('depts', ['SE', 'AI', 'IT'])])
--------------------------------------------------
['SE', 'AI', 'IT']
--------------------------------------------------
[23, 24, 23]
--------------------------------------------------
{'names': ['asghar', 'ali', 'sohail'], 'ages': [23, 24, 23], 'depts': ['SE', 'AI', 'IT']}
--------------------------------------------------
<class 'dict_keys'>
--------------------------------------------------
dict_values([['asghar', 'ali', 'sohail'], [23, 24, 23], ['SE', 'AI', 'IT']])

In [40]:
dic_5 = {
    "a" : 1,
    "b" : 2,
    "c" : 3
}

print("a" in dic_5)
print(1 in dic_5.values())

True
True

In [76]:
dic_6 = {
    "x" : [1,2,3,4],
    "y" : [5,6,7,8],
    "z" : [9,10,11,12]
}

print(4 in dic_6.values())

dic_6.update({"w" :[-4,-3,-2,-1]})
print(dic_6)

dic_6["x"].append(5)
dic_6["y"].insert(8,3)

print(f"Dic after appending in vlaues 1 {dic_6.values()}")

False
{'x': [1, 2, 3, 4], 'y': [5, 6, 7, 8], 'z': [9, 10, 11, 12], 'w': [-4, -3, -2, -1]}
Dic after appending in vlaues 1 dict_values([[1, 2, 3, 4, 5], [5, 6, 7, 8, 3], [9, 10, 11, 12], [-4, -3, -2, -1]])

In [59]:
dic_6.pop("z")

print(dic_6)

{'x': [1, 2, 3, 4], 'y': [5, 6, 7, 8], 'w': [-4, -3, -2, -1]}

In [60]:
del dic_6["x"]

print(dic_6)

{'y': [5, 6, 7, 8], 'w': [-4, -3, -2, -1]}

In [61]:
dic_6.clear()

print(dic_6)

{}

In [62]:
dic_7 = {
    "w" : [-4,-3,-2,-1],
    "x" : [1,2,3,4],
    "y" : [5,6,7,8],
    "z" : [9,10,11,12]
}

dic_8 = dic_7.copy()
print(dic_8)

{'w': [-4, -3, -2, -1], 'x': [1, 2, 3, 4], 'y': [5, 6, 7, 8], 'z': [9, 10, 11, 12]}

In [ ]:
dic_8.update["z"]

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [70]:
myfamily ={
    "child1" : {
        "name" : "wajid",
        "year" : 2002
    },
    "child2" : {
        "name" : "asghar",
        "year" : 2004
    },
    "child3" : {
        "name" : "laraib",
        "year" : 2006
    },
    "child4" : {
        "name" : "mehdi",
        "year" : 2008
    }
}

print(myfamily.keys())

print("-"*30)

print(myfamily["child1"].values())

dict_keys(['child1', 'child2', 'child3', 'child4'])
------------------------------
dict_values(['wajid', 2002])

********************Sets********************

In [78]:
set_1 = {"ali","rehman","tufail"}

print(set_1)

set_1.add("tufail")

print(set_1)

{'ali', 'tufail', 'rehman'}
{'ali', 'tufail', 'rehman'}

In [80]:
set_2 = {1,1,2,3,4,False,0,True}

print(set_2)

{False, 1, 2, 3, 4}

In [83]:
set_3 = {1,2,3,4,5,6,7,78,88,23,45,234}
print(len(set_3))

12

In [95]:
set_4 = set((23,323,13,23,"as","as","shdh"))

print(type(set_4))

<class 'set'>

In [86]:
23 in set_4

True

In [87]:
for i in set_4:
    print(i)

323
13
23
as
shdh

In [97]:
set_4.remove(13)
set_4.discard(23432342)
set_4.add(12)

print(set_4)

{323, 12, 23, 'as', 'shdh'}

In [114]:
set_5 = {1,2,3,4,5}
set_6 = {6,7,8,9}

set_5.update(set_6)

print(set_5)
print(set_6)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{8, 9, 6, 7}

In [111]:
x = set_5.pop()

print(set_5)

{2, 3, 4, 5, 6, 7, 8, 9}

In [112]:
del set_6

In [122]:
set_5.union(set_6)
set_5.intersection(set_6)
set_5.difference(set_6)
set_5.symmetric_difference(set_6)
set_5.symmetric_difference_update(set_6)

print(set_5)

{1, 2, 3, 4, 5, 7, 6, 8, 9}

**IF ... ELSE**

In [125]:
a = 23
b = 23
if a > b :
    print("b is greater than a")
elif a < b:
    print("a is smaller than b")
else:
    print("a and b are equal")

a and b are equal