In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
car_data = pd.read_csv("car_data.csv")
car_data

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,3,2,164,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,4,2,164,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,200,-1,95,volvo,gas,std,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,202,-1,95,volvo,gas,std,four,sedan,rwd,front,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [3]:
car_data.head(20)

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,3,2,164,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,4,2,164,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
5,5,2,?,audi,gas,std,two,sedan,fwd,front,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
6,6,1,158,audi,gas,std,four,sedan,fwd,front,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710
7,7,1,?,audi,gas,std,four,wagon,fwd,front,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,18920
8,8,1,158,audi,gas,turbo,four,sedan,fwd,front,...,131,mpfi,3.13,3.4,8.3,140,5500,17,20,23875
9,9,0,?,audi,gas,turbo,two,hatchback,4wd,front,...,131,mpfi,3.13,3.4,7.0,160,5500,16,22,?
10,10,2,192,bmw,gas,std,two,sedan,rwd,front,...,108,mpfi,3.5,2.8,8.8,101,5800,23,29,16430
11,11,0,192,bmw,gas,std,four,sedan,rwd,front,...,108,mpfi,3.5,2.8,8.8,101,5800,23,29,16925
12,12,0,188,bmw,gas,std,two,sedan,rwd,front,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970
13,13,0,188,bmw,gas,std,four,sedan,rwd,front,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105
14,14,1,?,bmw,gas,std,four,sedan,rwd,front,...,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565
15,15,0,?,bmw,gas,std,four,sedan,rwd,front,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,30760
16,16,0,?,bmw,gas,std,two,sedan,rwd,front,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
17,17,0,?,bmw,gas,std,four,sedan,rwd,front,...,209,mpfi,3.62,3.39,8.0,182,5400,15,20,36880
18,18,2,121,chevrolet,gas,std,two,hatchback,fwd,front,...,61,2bbl,2.91,3.03,9.5,48,5100,47,53,5151
19,19,1,98,chevrolet,gas,std,two,hatchback,fwd,front,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6295

In [4]:
car_data.tail(10)

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
195,195,-1,74,volvo,gas,std,four,wagon,rwd,front,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
196,196,-2,103,volvo,gas,std,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985
197,197,-1,74,volvo,gas,std,four,wagon,rwd,front,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,16515
198,198,-2,103,volvo,gas,turbo,four,sedan,rwd,front,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18420
199,199,-1,74,volvo,gas,turbo,four,wagon,rwd,front,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18950
200,200,-1,95,volvo,gas,std,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,202,-1,95,volvo,gas,std,four,sedan,rwd,front,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [5]:
car_data.shape

(205, 27)

In [140]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         205 non-null    int64
 1   symboling          205 non-null    int64
 2   normalized-losses  205 non-null    object
 3   make               205 non-null    object
 4   fuel-type          205 non-null    object
 5   aspiration         205 non-null    object
 6   num-of-doors       205 non-null    object
 7   body-style         205 non-null    object
 8   drive-wheels       205 non-null    object
 9   engine-location    205 non-null    object
 10  wheel-base         205 non-null    float64
 11  length             205 non-null    float64
 12  width              205 non-null    float64
 13  height             205 non-null    float64
 14  curb-weight        205 non-null    int64
 15  engine-type        205 non-null    object
 16  num-of-cylinders   205 non-null    object
 17  engine-size        205 non-null    int64
 18  fuel-system        205 non-null    object
 19  bore               205 non-null    object
 20  stroke             205 non-null    object
 21  compression-ratio  205 non-null    float64
 22  horsepower         205 non-null    object
 23  peak-rpm           205 non-null    object
 24  city-mpg           205 non-null    int64
 25  highway-mpg        205 non-null    int64
 26  price              205 non-null    object
dtypes: float64(5), int64(6), object(16)
memory usage: 43.4+ KB

In [141]:
car_data.describe()

,Unnamed: 0,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,102.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,0.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,51.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,102.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,153.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,204.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [142]:
car_data.dtypes

Unnamed: 0             int64
symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [143]:
car_data.columns

Index(['Unnamed: 0', 'symboling', 'normalized-losses', 'make', 'fuel-type',
       'aspiration', 'num-of-doors', 'body-style', 'drive-wheels',
       'engine-location', 'wheel-base', 'length', 'width', 'height',
       'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size',
       'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower',
       'peak-rpm', 'city-mpg', 'highway-mpg', 'price'],
      dtype='object')

In [144]:
num = car_data.select_dtypes(include=['number'])
num

,Unnamed: 0,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
0,0,3,88.6,168.8,64.1,48.8,2548,130,9.0,21,27
1,1,3,88.6,168.8,64.1,48.8,2548,130,9.0,21,27
2,2,1,94.5,171.2,65.5,52.4,2823,152,9.0,19,26
3,3,2,99.8,176.6,66.2,54.3,2337,109,10.0,24,30
4,4,2,99.4,176.6,66.4,54.3,2824,136,8.0,18,22
...,...,...,...,...,...,...,...,...,...,...,...
200,200,-1,109.1,188.8,68.9,55.5,2952,141,9.5,23,28
201,201,-1,109.1,188.8,68.8,55.5,3049,141,8.7,19,25
202,202,-1,109.1,188.8,68.9,55.5,3012,173,8.8,18,23
203,203,-1,109.1,188.8,68.9,55.5,3217,145,23.0,26,27
204,204,-1,109.1,188.8,68.9,55.5,3062,141,9.5,19,25

In [145]:
str = car_data.select_dtypes(exclude=['number'])
str

,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system,bore,stroke,horsepower,peak-rpm,price
0,?,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi,3.47,2.68,111,5000,13495
1,?,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi,3.47,2.68,111,5000,16500
2,?,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi,2.68,3.47,154,5000,16500
3,164,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi,3.19,3.4,102,5500,13950
4,164,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi,3.19,3.4,115,5500,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,95,volvo,gas,std,four,sedan,rwd,front,ohc,four,mpfi,3.78,3.15,114,5400,16845
201,95,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi,3.78,3.15,160,5300,19045
202,95,volvo,gas,std,four,sedan,rwd,front,ohcv,six,mpfi,3.58,2.87,134,5500,21485
203,95,volvo,diesel,turbo,four,sedan,rwd,front,ohc,six,idi,3.01,3.4,106,4800,22470
204,95,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi,3.78,3.15,114,5400,22625

In [146]:
car_data[["stroke","horsepower"]].head(3)

  stroke horsepower
0   2.68        111
1   2.68        111
2   3.47        154

In [147]:
car_data.symboling.head(3)

0    3
1    3
2    1
Name: symboling, dtype: int64

In [148]:
car_data.loc[56,["price"]]

price    11845
Name: 56, dtype: object

In [149]:
car_data.height>57

0      False
1      False
2      False
3      False
4      False
       ...
200    False
201    False
202    False
203    False
204    False
Name: height, Length: 205, dtype: bool

In [150]:
car_data.loc[car_data.height>10,["stroke"]]

    stroke
0     2.68
1     2.68
2     3.47
3      3.4
4      3.4
..     ...
200   3.15
201   3.15
202   2.87
203    3.4
204   3.15

[205 rows x 1 columns]

In [151]:
car_data.loc[car_data.height>57,["make","price"]]

              make  price
28           dodge   8921
36           honda   7295
68   mercedes-benz  28248
109         peugot  12440
110         peugot  13860
114         peugot  17075
123       plymouth   8921
153         toyota   6918
154         toyota   7898
155         toyota   8778
195          volvo  13415
197          volvo  16515
199          volvo  18950

In [54]:

car_data.loc[car_data.height>car_data.height.mean(),["make","price"]]

      make  price
3     audi  13950
4     audi  17450
6     audi  17710
7     audi  18920
8     audi  23875
..     ...    ...
200  volvo  16845
201  volvo  19045
202  volvo  21485
203  volvo  22470
204  volvo  22625

[107 rows x 2 columns]

In [168]:
int_price = car_data['price'].astype("float")
car_data.loc[int_price>10000,["make","price"]]

            make  price
0    alfa-romero  13495
1    alfa-romero  16500
2    alfa-romero  16500
3           audi  13950
4           audi  17450
..           ...    ...
200        volvo  16845
201        volvo  19045
202        volvo  21485
203        volvo  22470
204        volvo  22625

[103 rows x 2 columns]

In [ ]:
car_data.loc[car_data["fuel-type"]=="diesel"]

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
63,63,0,?,mazda,diesel,std,?,sedan,fwd,front,...,122,idi,3.39,3.39,22.7,64,4650,36,42,10795
66,66,0,?,mazda,diesel,std,four,sedan,rwd,front,...,134,idi,3.43,3.64,22.0,72,4200,31,39,18344
67,67,-1,93,mercedes-benz,diesel,turbo,four,sedan,rwd,front,...,183,idi,3.58,3.64,21.5,123,4350,22,25,25552
68,68,-1,93,mercedes-benz,diesel,turbo,four,wagon,rwd,front,...,183,idi,3.58,3.64,21.5,123,4350,22,25,28248
69,69,0,93,mercedes-benz,diesel,turbo,two,hardtop,rwd,front,...,183,idi,3.58,3.64,21.5,123,4350,22,25,28176
70,70,-1,93,mercedes-benz,diesel,turbo,four,sedan,rwd,front,...,183,idi,3.58,3.64,21.5,123,4350,22,25,31600
90,90,1,128,nissan,diesel,std,two,sedan,fwd,front,...,103,idi,2.99,3.47,21.9,55,4800,45,50,7099
108,108,0,161,peugot,diesel,turbo,four,sedan,rwd,front,...,152,idi,3.70,3.52,21.0,95,4150,28,33,13200
110,110,0,?,peugot,diesel,turbo,four,wagon,rwd,front,...,152,idi,3.70,3.52,21.0,95,4150,25,25,13860
112,112,0,161,peugot,diesel,turbo,four,sedan,rwd,front,...,152,idi,3.70,3.52,21.0,95,4150,28,33,16900
114,114,0,?,peugot,diesel,turbo,four,wagon,rwd,front,...,152,idi,3.70,3.52,21.0,95,4150,25,25,17075
116,116,0,161,peugot,diesel,turbo,four,sedan,rwd,front,...,152,idi,3.70,3.52,21.0,95,4150,28,33,17950
158,158,0,91,toyota,diesel,std,four,sedan,fwd,front,...,110,idi,3.27,3.35,22.5,56,4500,34,36,7898
159,159,0,91,toyota,diesel,std,four,hatchback,fwd,front,...,110,idi,3.27,3.35,22.5,56,4500,38,47,7788
174,174,-1,65,toyota,diesel,turbo,four,sedan,fwd,front,...,110,idi,3.27,3.35,22.5,73,4500,30,33,10698
182,182,2,122,volkswagen,diesel,std,two,sedan,fwd,front,...,97,idi,3.01,3.40,23.0,52,4800,37,46,7775
184,184,2,94,volkswagen,diesel,std,four,sedan,fwd,front,...,97,idi,3.01,3.40,23.0,52,4800,37,46,7995
187,187,2,94,volkswagen,diesel,turbo,four,sedan,fwd,front,...,97,idi,3.01,3.40,23.0,68,4500,37,42,9495
192,192,0,?,volkswagen,diesel,turbo,four,sedan,fwd,front,...,97,idi,3.01,3.40,23.0,68,4500,33,38,13845
203,203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470

In [57]:
car_data.loc[car_data["make"]=="mazda"]

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
50,50,1,104,mazda,gas,std,two,hatchback,fwd,front,...,91,2bbl,3.03,3.15,9.0,68,5000,30,31,5195
51,51,1,104,mazda,gas,std,two,hatchback,fwd,front,...,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6095
52,52,1,104,mazda,gas,std,two,hatchback,fwd,front,...,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6795
53,53,1,113,mazda,gas,std,four,sedan,fwd,front,...,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6695
54,54,1,113,mazda,gas,std,four,sedan,fwd,front,...,91,2bbl,3.08,3.15,9.0,68,5000,31,38,7395
55,55,3,150,mazda,gas,std,two,hatchback,rwd,front,...,70,4bbl,?,?,9.4,101,6000,17,23,10945
56,56,3,150,mazda,gas,std,two,hatchback,rwd,front,...,70,4bbl,?,?,9.4,101,6000,17,23,11845
57,57,3,150,mazda,gas,std,two,hatchback,rwd,front,...,70,4bbl,?,?,9.4,101,6000,17,23,13645
58,58,3,150,mazda,gas,std,two,hatchback,rwd,front,...,80,mpfi,?,?,9.4,135,6000,16,23,15645
59,59,1,129,mazda,gas,std,two,hatchback,fwd,front,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8845
60,60,0,115,mazda,gas,std,four,sedan,fwd,front,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8495
61,61,1,129,mazda,gas,std,two,hatchback,fwd,front,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10595
62,62,0,115,mazda,gas,std,four,sedan,fwd,front,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10245
63,63,0,?,mazda,diesel,std,?,sedan,fwd,front,...,122,idi,3.39,3.39,22.7,64,4650,36,42,10795
64,64,0,115,mazda,gas,std,four,hatchback,fwd,front,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,11245
65,65,0,118,mazda,gas,std,four,sedan,rwd,front,...,140,mpfi,3.76,3.16,8.0,120,5000,19,27,18280
66,66,0,?,mazda,diesel,std,four,sedan,rwd,front,...,134,idi,3.43,3.64,22.0,72,4200,31,39,18344

In [59]:
car_data.iloc[56:81,4:7]

   fuel-type aspiration num-of-doors
56       gas        std          two
57       gas        std          two
58       gas        std          two
59       gas        std          two
60       gas        std         four
61       gas        std          two
62       gas        std         four
63    diesel        std            ?
64       gas        std         four
65       gas        std         four
66    diesel        std         four
67    diesel      turbo         four
68    diesel      turbo         four
69    diesel      turbo          two
70    diesel      turbo         four
71       gas        std         four
72       gas        std          two
73       gas        std         four
74       gas        std          two
75       gas      turbo          two
76       gas        std          two
77       gas        std          two
78       gas        std          two
79       gas      turbo          two
80       gas      turbo          two

**Data Cleaning**

In [ ]:
car_data.replace(["?","$","%","@"],np.nan,inplace=True)
car_data.head()

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,3,2,164,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,4,2,164,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [156]:
car_data.replace(["?"," ","/",",","_","-"],np.nan,inplace=True)
car_data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [153]:
car_data.drop(columns="Unnamed: 0",inplace=True)
car_data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [157]:
car_data.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [159]:
car_data.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [161]:
avg_normal_loss = car_data["normalized-losses"].astype("float").mean()
print(f"Average of normal losses is :{avg_normal_loss}")

Average of normal losses is :122.0

In [162]:
car_data["normalized-losses"].replace(np.nan,avg_normal_loss,inplace=True)
car_data.head()

C:\Users\1212a\AppData\Local\Temp\ipykernel_700\1089892633.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_data["normalized-losses"].replace(np.nan,avg_normal_loss,inplace=True)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [173]:
avg_stroke = car_data["stroke"].astype("float").mean()
print(avg_stroke)
car_data["stroke"].replace(np.nan,avg_stroke,inplace=True)
car_data.stroke

3.2554228855721394

0      2.68
1      2.68
2      3.47
3       3.4
4       3.4
       ...
200    3.15
201    3.15
202    2.87
203     3.4
204    3.15
Name: stroke, Length: 205, dtype: object

In [176]:
avg_bore = car_data["bore"].astype("float").mean()
print(avg_bore)
car_data["bore"].replace(np.nan,avg_bore,inplace=True)
car_data.bore

3.3297512437810943

0      3.47
1      3.47
2      2.68
3      3.19
4      3.19
       ...
200    3.78
201    3.78
202    3.58
203    3.01
204    3.78
Name: bore, Length: 205, dtype: object

In [175]:
avg_horsepower = car_data["horsepower"].astype("float").mean()
print(avg_horsepower)
car_data["horsepower"].replace(np.nan,avg_horsepower,inplace=True)
car_data.horsepower

104.25615763546799

C:\Users\1212a\AppData\Local\Temp\ipykernel_700\3535496923.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_data["horsepower"].replace(np.nan,avg_horsepower,inplace=True)

0      111
1      111
2      154
3      102
4      115
      ...
200    114
201    160
202    134
203    106
204    114
Name: horsepower, Length: 205, dtype: object

In [183]:
avg_peakrpm = car_data["peak-rpm"].astype("float").mean()

print(avg_peakrpm)
car_data["bore"].replace(np.nan,avg_peakrpm,inplace=True)

car_data["peak-rpm"]

5125.369458128079

0      5000
1      5000
2      5000
3      5500
4      5500
       ...
200    5400
201    5300
202    5500
203    4800
204    5400
Name: peak-rpm, Length: 205, dtype: object

In [192]:
car_data.isnull().count()

symboling            205
normalized-losses    205
make                 205
fuel-type            205
aspiration           205
num-of-doors         205
body-style           205
drive-wheels         205
engine-location      205
wheel-base           205
length               205
width                205
height               205
curb-weight          205
engine-type          205
num-of-cylinders     205
engine-size          205
fuel-system          205
bore                 205
stroke               205
compression-ratio    205
horsepower           205
peak-rpm             205
city-mpg             205
highway-mpg          205
price                205
dtype: int64

In [188]:
car_data["num-of-doors"].value_counts()

num-of-doors
four    114
two      89
Name: count, dtype: int64

In [198]:
car_data.dropna(subset=['price'],axis = 0,inplace=True)
car_data.reset_index(drop=True,inplace=True)
car_data.head(20)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
5,2,122.0,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710
7,1,122.0,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140,5500,17,20,23875
9,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.5,2.8,8.8,101,5800,23,29,16430
10,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.5,2.8,8.8,101,5800,23,29,16925
11,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970
12,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105
13,1,122.0,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565
14,0,122.0,bmw,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,30760
15,0,122.0,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
16,0,122.0,bmw,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.0,182,5400,15,20,36880
17,2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.5,48,5100,47,53,5151
18,1,98,chevrolet,gas,std,two,hatchback,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6295
19,0,81,chevrolet,gas,std,four,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6575

In [200]:
car_data[["bore","stroke","price","peak-rpm"]] = car_data[["bore","stroke","price","peak-rpm"]].astype("float")
car_data["normalized-losses"] = car_data["normalized-losses"].astype("int")

In [206]:
car_data.price.dtype

dtype('float64')