In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Series**

In [12]:
marks = [34,45,65,78]
names = ["ALi","Sohail","Iram","Uswa"]
series = pd.Series(marks,index=names)

print(f"The series is :\n{series}")
print("\n")
print(f"The series index is : {series.index}")
print("\n")
print(f"The series values is : {series.values}")
print("\n")
print(f"The marks of uswa is : {series["Uswa"]}")

The series is :
ALi       34
Sohail    45
Iram      65
Uswa      78
dtype: int64


The series index is : Index(['ALi', 'Sohail', 'Iram', 'Uswa'], dtype='object')


The series values is : [34 45 65 78]


The marks of uswa is : 78

**DataFrame**

In [ ]:
data = {
    "Asghar":38,
    "Danish":23,
    "USwa" : 87,
        }

In [21]:
data = {
    "Names":["Ali","Ahmad","Saad","Hassan"],
    "Marks":[23,45,23,45],
    "Age" : [17,27,18,20],
        }


df = pd.DataFrame(data)

df.set_index("Names",inplace=True)
df

        Marks  Age
Names
Ali        23   17
Ahmad      45   27
Saad       23   18
Hassan     45   20

In [29]:
data = {
    "Provinces":["Punjab","Sindh","KPK","Balochistan","GB"],
    "Population(Millions)":[112,55,50,12,2],
    "LiteracyRate(%)" : [40,55,45,29,80]
        }


df = pd.DataFrame(data)

df.set_index("Provinces",inplace=True)

df

             Population(Millions)  LiteracyRate(%)
Provinces
Punjab                        112               40
Sindh                          55               55
KPK                            50               45
Balochistan                    12               29
GB                              2               80

In [43]:
p_df = df.loc["GB"]
p_df

Population(Millions)     2
LiteracyRate(%)         80
Name: GB, dtype: int64