In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("EnvironmentalDataSet.csv")
df.head(3)

,datetime,excel_code,day,time,field_soil_temp_c,field_air_temp_c,field_rh,field_soil_wc,forest_soil_temp_c,forest_air_temp_c,forest_rh,forest_soil_wc,pond_soil_temp_c,pond_air_temp_c,pond_rh,pond_soil_wc
0,1/1/2018 0:00,43101.00000,43101,0.000000,-0.171,-20.931,86.5,0.1216,0.273,-19.746,77.4,0.1085,NaN,NaN,NaN,NaN
1,1/1/2018 1:00,43101.04167,43101,0.041667,-0.171,-20.835,87.9,0.1201,0.246,-20.356,79.1,0.1085,NaN,NaN,NaN,NaN
2,1/1/2018 2:00,43101.08333,43101,0.083333,-0.171,-21.272,88.0,0.1180,0.246,-20.690,79.6,0.1078,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   datetime            744 non-null    object
 1   excel_code          744 non-null    float64
 2   day                 744 non-null    int64
 3   time                744 non-null    float64
 4   field_soil_temp_c   744 non-null    float64
 5   field_air_temp_c    744 non-null    float64
 6   field_rh            744 non-null    float64
 7   field_soil_wc       744 non-null    float64
 8   forest_soil_temp_c  744 non-null    float64
 9   forest_air_temp_c   744 non-null    float64
 10  forest_rh           744 non-null    float64
 11  forest_soil_wc      744 non-null    float64
 12  pond_soil_temp_c    0 non-null      float64
 13  pond_air_temp_c     0 non-null      float64
 14  pond_rh             0 non-null      float64
 15  pond_soil_wc        0 non-null      float64
dtypes: float64(14), int64(1), object(1)
memory usage: 93.1+ KB

In [3]:
df.describe()

,excel_code,day,time,field_soil_temp_c,field_air_temp_c,field_rh,field_soil_wc,forest_soil_temp_c,forest_air_temp_c,forest_rh,forest_soil_wc,pond_soil_temp_c,pond_air_temp_c,pond_rh,pond_soil_wc
count,744.000000,744.000000,744.000000,744.000000,744.000000,744.000000,744.000000,744.000000,744.000000,744.000000,744.000000,0.0,0.0,0.0,0.0
mean,43116.479167,43116.000000,0.479167,-0.239741,-5.237305,79.695430,0.112614,-0.103503,-5.288411,78.906855,0.132000,NaN,NaN,NaN,NaN
std,8.954941,8.950289,0.288618,0.188554,7.692118,11.776152,0.019912,0.328522,7.485481,10.067219,0.061544,NaN,NaN,NaN,NaN
min,43101.000000,43101.000000,0.000000,-0.930000,-25.384000,50.700000,0.086000,-1.441000,-24.709000,56.000000,0.030100,NaN,NaN,NaN,NaN
25%,43108.739582,43108.000000,0.239583,-0.339000,-10.197000,71.850000,0.099800,-0.060000,-10.301000,72.175000,0.080900,NaN,NaN,NaN,NaN
50%,43116.479165,43116.000000,0.479167,-0.199000,-5.217500,79.250000,0.105600,-0.004000,-5.433500,78.100000,0.135400,NaN,NaN,NaN,NaN
75%,43124.218748,43124.000000,0.718750,-0.088000,0.996000,87.925000,0.121775,0.079000,0.776750,85.325000,0.179700,NaN,NaN,NaN,NaN
max,43131.958330,43131.000000,0.958333,-0.032000,11.807000,100.000000,0.175300,0.273000,11.662000,100.000000,0.246500,NaN,NaN,NaN,NaN

In [5]:
# Check the shape of the dataset (rows, columns)
print("Shape of the dataset:", df.shape)

Shape of the dataset: (744, 16)

In [6]:

# Check column names
print("Columns:", df.columns)

Columns: Index(['datetime', 'excel_code', 'day', 'time', 'field_soil_temp_c',
       'field_air_temp_c', 'field_rh', 'field_soil_wc', 'forest_soil_temp_c',
       'forest_air_temp_c', 'forest_rh', 'forest_soil_wc', 'pond_soil_temp_c',
       'pond_air_temp_c', 'pond_rh', 'pond_soil_wc'],
      dtype='object')

In [7]:

# Check for missing values
print(df.isnull().sum())

datetime                0
excel_code              0
day                     0
time                    0
field_soil_temp_c       0
field_air_temp_c        0
field_rh                0
field_soil_wc           0
forest_soil_temp_c      0
forest_air_temp_c       0
forest_rh               0
forest_soil_wc          0
pond_soil_temp_c      744
pond_air_temp_c       744
pond_rh               744
pond_soil_wc          744
dtype: int64

In [8]:

# Check data types of columns
print(df.dtypes)

datetime               object
excel_code            float64
day                     int64
time                  float64
field_soil_temp_c     float64
field_air_temp_c      float64
field_rh              float64
field_soil_wc         float64
forest_soil_temp_c    float64
forest_air_temp_c     float64
forest_rh             float64
forest_soil_wc        float64
pond_soil_temp_c      float64
pond_air_temp_c       float64
pond_rh               float64
pond_soil_wc          float64
dtype: object

In [9]:
df['day'] = df['day'].astype('float')